/*css for form*/
.fieldset-container{padding-left: 55px;
                    padding-right: 55px;
                    padding-top: 20px;
                    padding-bottom: 40px;
                    width: 100%;
                    max-width: 1250px;
                    margin-left: auto;
                    margin-right: auto;}
.fieldset-container legend{text-align: center;
                           font-size: 2rem;}
.form-container {display: grid;
                 grid-template-columns: auto;
                 row-gap: 20px;}
.form-container .message{grid-column: auto;}
.form-container .message textarea{resize: vertical;}
.form-container div input,
.form-container div textarea ,
.form-container div select{border: 1px solid rgba(0, 0, 0, 0.5);
                           height: 40px;
                           width: 100%;}
.form-container div input,
.form-container div textarea{padding-left: 5px;
                             padding-right: 5px}
.form-container button{grid-row: auto;
                       height: 40px;
                       width: 160px;
                       color: white;
                       background-color: black;}
.form-container div input:focus{border:1.6px solid black;}
@media (min-width: 800px){
    .form-container {display: grid;
                    grid-template-columns: repeat(2, minmax(300px, 1fr));
                    column-gap: 50px;
                    row-gap: 20px;}
    .form-container .message{grid-column: span 2;}
    .form-container button{grid-row: 7;}
    }
/*css for introductory line*/
.introduction{display: flex;
              flex-wrap: wrap;
              align-content: center;
              justify-content: center;
              text-align: center;
              width: 100%;
              max-width: 1250px;
              margin-left: auto;
              margin-right: auto;
              margin-bottom: 20px;
              gap: 10px;}
.introduction h1{font-size: 1.7rem;}
/*css for underline below title*/
.short-underline {display: inline-block;
                  position: relative;}
    
.short-underline::after {content: '';
                         position: absolute;
                         bottom: 0;
                         left: 20%; 
                         width: 60%; 
                         height: 2px; 
                         background-color: black;}
/*css to turn error text red*/
.error-message{color: red;}